.container{
    background: #FF3B3F;
    border-radius: 30px;
    padding: 16px 0px;
    text-align: center;
    cursor: pointer;
}
.buttonLabel{
    color: #fff;
    font-size: 24px;
    font-weight: 600;
}