.loaderContainer{
    position: relative;
}
.questionContainer{
    position: relative;
    top: 70px;
}
.container{
    height: 100%;
    background: #AF9CF3;
    background-blend-mode: multiply;
    width: 100%;
}
.progressConatiner{
    position: absolute;
    display: flex;
    justify-content: center;
    width: 400px;
    z-index: 10;
}