.container{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.quizzText{
    font-size: 40px;
    color: #FF3B3C;
    font-weight: 800;
}