.quizzBannerContainer{
    position: relative;
    display: flex;
    justify-content: center;
    top: 120px;
}
.btnContainer{
    position: relative;
    top: 270px;
    display: flex;
    justify-content: center;

}